In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./Data/train_values.csv', encoding='utf-8')

In [3]:
data.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [4]:
data.shape

(180, 14)

In [5]:
data.describe()

,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,1.550000,131.311111,3.155556,0.694444,0.161111,1.050000,249.211111,1.010000,0.688889,54.811111,149.483333,0.316667
std,0.618838,17.010443,0.938454,0.969347,0.368659,0.998742,52.717969,1.121357,0.464239,9.334737,22.063513,0.466474
min,1.000000,94.000000,1.000000,0.000000,0.000000,0.000000,126.000000,0.000000,0.000000,29.000000,96.000000,0.000000
25%,1.000000,120.000000,3.000000,0.000000,0.000000,0.000000,213.750000,0.000000,0.000000,48.000000,132.000000,0.000000
50%,1.000000,130.000000,3.000000,0.000000,0.000000,2.000000,245.500000,0.800000,1.000000,55.000000,152.000000,0.000000
75%,2.000000,140.000000,4.000000,1.000000,0.000000,2.000000,281.250000,1.600000,1.000000,62.000000,166.250000,1.000000
max,3.000000,180.000000,4.000000,3.000000,1.000000,2.000000,564.000000,6.200000,1.000000,77.000000,202.000000,1.000000

In [6]:
#tipo de dato de las variables
data.dtypes

patient_id                               object
slope_of_peak_exercise_st_segment         int64
thal                                     object
resting_blood_pressure                    int64
chest_pain_type                           int64
num_major_vessels                         int64
fasting_blood_sugar_gt_120_mg_per_dl      int64
resting_ekg_results                       int64
serum_cholesterol_mg_per_dl               int64
oldpeak_eq_st_depression                float64
sex                                       int64
age                                       int64
max_heart_rate_achieved                   int64
exercise_induced_angina                   int64
dtype: object

In [7]:
data['slope_of_peak_exercise_st_segment'].unique()

array([1, 2, 3], dtype=int64)

In [8]:
#cambiar a tipo categoria aquellas variables categoricas
data['slope_of_peak_exercise_st_segment'] = data['slope_of_peak_exercise_st_segment'].astype('category')
data['chest_pain_type'] = data['chest_pain_type'].astype('category')
data['sex'] = data['sex'].astype('category')
data['exercise_induced_angina'] =data['exercise_induced_angina'].astype('category')

In [9]:
#tipo de dato de las variables
data.dtypes

patient_id                                object
slope_of_peak_exercise_st_segment       category
thal                                      object
resting_blood_pressure                     int64
chest_pain_type                         category
num_major_vessels                          int64
fasting_blood_sugar_gt_120_mg_per_dl       int64
resting_ekg_results                        int64
serum_cholesterol_mg_per_dl                int64
oldpeak_eq_st_depression                 float64
sex                                     category
age                                        int64
max_heart_rate_achieved                    int64
exercise_induced_angina                 category
dtype: object

In [10]:
data.loc[50:60,['resting_blood_pressure', 'serum_cholesterol_mg_per_dl', 'max_heart_rate_achieved' ]]

,resting_blood_pressure,serum_cholesterol_mg_per_dl,max_heart_rate_achieved
50,140,311,120
51,130,315,162
52,130,330,132
53,130,256,142
54,130,330,169
55,130,233,179
56,110,239,126
57,120,267,99
58,120,295,162
59,110,197,177
60,115,564,160

In [11]:
#muestra si hay valores nulos
data.isnull().values.any()

False

In [12]:
data.max(axis = 0)

patient_id                                         zzmfh7
slope_of_peak_exercise_st_segment                       3
thal                                    reversible_defect
resting_blood_pressure                                180
chest_pain_type                                         4
num_major_vessels                                       3
fasting_blood_sugar_gt_120_mg_per_dl                    1
resting_ekg_results                                     2
serum_cholesterol_mg_per_dl                           564
oldpeak_eq_st_depression                              6.2
sex                                                     1
age                                                    77
max_heart_rate_achieved                               202
exercise_induced_angina                                 1
dtype: object

In [14]:
press = data['resting_blood_pressure'] / 10
press.head()

0    12.8
1    11.0
2    12.5
3    15.2
4    17.8
Name: resting_blood_pressure, dtype: float64

In [16]:
import numpy as np
log_col = data['serum_cholesterol_mg_per_dl'].apply(np.log)
log_col.head()

0    5.730100
1    5.365976
2    5.717028
3    5.407172
4    5.598422
Name: serum_cholesterol_mg_per_dl, dtype: float64

In [17]:
data['serum_cholesterol_mg_per_dl'].max()

564

In [18]:
data['cholesterol_norm'] = data['serum_cholesterol_mg_per_dl'] / data['serum_cholesterol_mg_per_dl'].max()
data.tail()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,cholesterol_norm
175,5qfar3,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0,0.450355
176,2s2b1f,2,normal,180,4,0,0,1,327,3.4,0,55,117,1,0.579787
177,nsd00i,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1,0.547872
178,0xw93k,1,normal,124,3,2,1,0,255,0.0,1,48,175,0,0.452128
179,2nx10r,1,normal,160,3,1,0,0,201,0.0,0,54,163,0,0.356383

In [23]:
data['age_cat'] = pd.cut(data['age'], 8)
data[['age_cat','age']].head()

        age_cat  age
0  (41.0, 47.0]   45
1  (53.0, 59.0]   54
2  (71.0, 77.0]   77
3  (35.0, 41.0]   40
4  (53.0, 59.0]   59

In [21]:
data['age_cat'].unique()

[(41.0, 47.0], (53.0, 59.0], (71.0, 77.0], (35.0, 41.0], (59.0, 65.0], (47.0, 53.0], (65.0, 71.0], (28.952, 35.0]]
Categories (8, interval[float64]): [(28.952, 35.0] < (35.0, 41.0] < (41.0, 47.0] < (47.0, 53.0] < (53.0, 59.0] < (59.0, 65.0] < (65.0, 71.0] < (71.0, 77.0]]